body{
text-align:center;
font-family:Arial;
background:#A3B18A;
color:white;
margin-top:80px;
}

h1{
font-size:48px;
}

p{
font-size:20px;
}

.cake{
font-size:80px;
cursor:pointer;
margin:30px;
}

#wishText{
opacity:0;
font-size:24px;
transition:1s;
}

#wishText.show{
opacity:1;
}

.buttons button{
font-size:30px;
margin:10px;
padding:10px 20px;
cursor:pointer;
}
